# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Tauri
src-tauri/target/
src-tauri/gen/

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*.local
